.taskStyle {
  margin: 10px auto;
}
.actionButton{
  margin: 5px;
}
.cardTitle {
  color: #17a2b8;
  font-family: cursive;
  font-weight: bolder;
  font-size: x-large;
}
.bodyBackground{
  background-color: lightgray;
}
.selected{
  border-style: solid;
  border-width: 5px;
  border-color: #dc3545;
}
.LinkName{
  color: #17a2b8;
}
.LinkName:hover {
  color: #dc3545;
  text-decoration: none;
}
.cardTextsStlyles{
  font-family: "PaApple Chancerypyrus";
  font-size: 1.1em;
  margin-bottom: 8px;
}
.cardStatusStlyles {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  margin-bottom: 2px;
}
.cardDateStlyles{
  font-family: monospace;
  font-size: small;
  margin-bottom: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #17a2b8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #047586; 
}