.mainDivStyle {
  background-color: #08222d;
  height: 100vh;
  width: 100%;
}
.taskStyle {
  color: aliceblue;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #17a2b8;
  border-radius: 15px;
}
.actionButton {
  margin: 5px;
}
.cardTitle {
  color: #17a2b8;
  font-family: cursive;
  font-weight: bolder;
  font-size: xx-large;
}
.bodyBackground {
  background-color: #08222d;
}
.selected {
  border-style: solid;
  border-width: 5px;
  border-color: #dc3545;
}
.LinkName {
  color: #17a2b8;
}
.LinkName:hover {
  color: #dc3545;
  text-decoration: none;
}
.cardTextsStlyles {
  font-family: "PaApple Chancerypyrus";
  font-size: 1.2em;
}
.cardStatusStlyles {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  margin-bottom: 2px;
}
.cardDateStlyles {
  font-family: monospace;
  font-size: small;
  margin-bottom: 2px;
}
