.mainDiv {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutImage {
  width: 100%;
}
img {
  width: 100%;
  height: 100vh;
}
.aboutTitle {
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
  font-size: 50px;
}
.aboutText {
  color: #064970;
  font-family: cursive;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 50px;
}
.aboutTextOne {
  width: 40vw;
  margin: 50px 0px 20px 80px;
}
.aboutTextTwo {
  margin-right: 80px;
  width: 40vw;
  float: right;
}
.aboutTextThree {
  width: 40vw;
  margin: 120px 0px 0px 80px;
}
.aboutTextFour {
  margin-right: 80px;
  width: 40vw;
  float: right;
}
