.contStyle {
  padding: 20px;
}
.todoButtonsStyles {
  font-family: cursive;
  font-weight: bolder;
  font-size: large;
}
.mainDivStyle {
  background-color: #08222d;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.remSelButtonsStyles{
  width: 160px;
}
