.dateDropdown {
  padding: 15px;
  width: 250px;
  color: #17a2b8;
  font-family: cursive;
}
.manNavbar .navbarBrand {
  color: #17a2b8;
}
.manNavbar .navbarBrand:hover {
  color: #17a2b8;
}
.navbarBrand {
  color: #17a2b8;
  font-family: cursive;
  font-weight: bolder;
  font-size: large;
}
.navMainStyle .navDropdown a {
  font-family: cursive;
}
.manNavbar {
  margin-bottom: 10px;
  color: #17a2b8;
}
/* .navbar-light .navbar-nav .nav-link a:hover {
  color: rgb(196, 28, 28) !important;
  }
  .navbar-light .navbar-nav .nav-link a:focus {
  color: rgb(48, 180, 76) !important;
  } */
/* .navItem + a {
  color: #17a2b8!important;
} */
/* .navbar-light .navbar-nav .nav-link{
  color: #17a2b8;
} */
/* .navDropdown:first-child {
  color: #17a2b8;
  font-family: cursive;
} */
/* .navDropdown>a:focus {
  color: #17a2b8;
} */
.navItem {
  color: #17a2b8;
  font-family: cursive;
}
.navItem:hover {
  color: #dc3545;
}
/* .dropdown-toggle.nav-link {
  color: #17a2b8;
} */
