.editDescriptionStyle {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #bcd6c2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

textarea[name="description"]:focus {
  border: 3px solid #28a745;
}

.modalTitleStyle {
  font-family: cursive;
  font-weight: bolder;
  color: #28a745;
}

.editTitleStyle {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #bcd6c2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

input[name="title"]:focus {
  border: 3px solid #28a745;
}
